<div class="row" style="margin-top: 30px;">
  <div class="col-md-9" style="margin-left: 12.5%">
    <div class="panel panel-default">
      <div class="panel-heading"><center><h2>About Us</h2></center></div>
      <div class="panel-body">
        <div class="box box-info">
          <div class="box-body">
            <div class="col-sm-6">
              <div align="center"> <img alt="User Pic" src="/images/avatar-1533250464270.jpg" id="profile-image1" class="img-circle img-responsive">
                <h4 style="color:#00b1b1; display: inline-block; margin-right: 10px;">Ronil Awalegaonkar</h4>
              </div>
              <div align="center"> <img alt="User Pic" src="/images/19985735_1346710022112647_299056824768790528_a.jpg" id="profile-image1" class="img-circle img-responsive">
                <h4 style="color:#00b1b1; display: inline-block; margin-right: 10px;">David Storozhenko</h4>
              </div>
              <div align="center"> <img alt="User Pic" src="/images/avatar-1533250276178.jpg" id="profile-image1" class="img-circle img-responsive">
                <h4 style="color:#00b1b1; display: inline-block; margin-right: 10px;">Owen Zhang</h4>
              </div>
              <div align="center"> <img alt="User Pic" src="/images/IMG_3485.JPG" id="profile-image1" class="img-circle img-responsive">
                <h4 style="color:#00b1b1; display: inline-block; margin-right: 10px;">Amit Sant</h4>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
