<div class="well login-box center-block">
  <form method="POST">
    <img style=" height:100px" src="/assets/updatedSML.png"></img>
    <input required value="{{login.username}}" type="text" name="username" class="spacing form-control" placeholder="Username">
    <input required type="password" name="password" class="form-control" placeholder="Password">
    <button class="btn1 btn-primary">Login</button>
  </form>
</div>

<div class="well login-box2 center-block">
  <form class="" action="/signup" method="GET">
    <h4>Don't have an account?</h4>
    <button class="btn2 btn-success" href="/signup">Sign Up</button>
  </form>
</div>
