<script>

</script>
<div class="panel-main panel-default">
  <form id='plswork' method='GET' action='/profile'>
    <div class="well panel-heading">
      <center><h4>New Post</h4>
      <input input type='submit' class="btn btn-primary" value='Submit' id='submitter'></center>
    </div>
    <div class="panel-body">
      <div id="flex-container">
          <div class="big_box" style="margin-top: 20px; border-radius: 5px;">
            <div align="hahaha center">
              <div class="yesyesyes image-container"  style="display:flex;justify-content: center;flex-direction: row;position: relative;align-items: center;">
                <input required  id="post-image-upload" style="cursor: pointer;opacity: 0;border: solid DodgerBlue 5px;border-radius: 3px;background: grey;width: 100%;height: 100%; position: absolute;top: 0;left: 0;right: 0;bottom: 0;" onchange="readURLBig(this);" name="avatar" type="file">
                <img id="bigPic" class="hidden" src="#">
              </div>
            </div>
          </div>
      </div>
      <div id="flex-container">
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  id="headwearAmazon"></input><br>
          Price: <br><input required  id="headwearPrice"></input><br>
          Description: <br><input required  id="headwearDes"></input><br>
          Image: <br><input required  type="file" name="headImage" onchange="readURLHead(this);" />
          <img id="headPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  id="topAmazon"></input><br>
          Price: <br><input required  id="topPrice"></input><br>
          Description: <br><input required  id="topDes"></input><br>
          Image: <br><input required  type="file" name="topImage" onchange="readURLTop(this);" />
          <img id="topPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  id="pantsAmazon"></input><br>
          Price: <br><input required  id="pantsPrice"></input><br>
          Description: <br><input required  id="pantsDes"></input><br>
          Image: <br><input required  type="file" name="pantsImage" onchange="readURLPant(this);" />
          <img id="pantPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  id="footwearAmazon"></input><br>
          Price: <br><input required  id="footwearPrice"></input><br>
          Description: <br><input required  id="footwearDes"></input><br>
          Image: <br><input required  type="file" neame="footwearImage" onchange="readURLFoot(this);" />
          <img id="footPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div class="panel-main panel-default">
  <form id='plswork'>
  <div class="panel-heading">
    <center><h4>New Post</h4>
    <input required  type='submit' class="btn btn-primary" value='Submit' id='submitter'></center>
  </div>
  <div class="panel-body">
    <div id="flex-container">

        <div class="big_box" style="margin-top: 20px;">
          <div align="hahaha center">
            <div class="yesyesyes image-container"  style="display:flex;justify-content: center;flex-direction: row;position: relative;align-items: center;">
              <input required  id="post-image-upload" style="cursor: pointer;opacity: 0;border: solid DodgerBlue 5px;border-radius: 3px;background: grey;width: 100%;height: 100%; position: absolute;top: 0;left: 0;right: 0;bottom: 0;" onchange="readURLBig(this);" name="avatar" type="file">
              <img id="bigPic" class="hidden" src="#">
            </div>
          </div>
      </div>
      <div id="flex-container">
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  name="headwearAmazon"></input><br>
          Price: <br><input required  name="headwearPrice"></input><br>
          Description: <br><input required  name="headwearDes"></input><br>
          Image: <br><input required  type="file" name="headImage" onchange="readURLHead(this);" />
          <img id="headPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  name="topAmazon"></input><br>
          Price: <br><input required  name="topPrice"></input><br>
          Description: <br><input required  name="topDes"></input><br>
          Image: <br><input required  type="file" name="topImage" onchange="readURLTop(this);" />
          <img id="topPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  name="pantsAmazon"></input><br>
          Price: <br><input required  name="pantsPrice"></input><br>
          Description: <br><input required  name="pantsDes"></input><br>
          Image: <br><input required  type="file" name="pantsImage" onchange="readURLPant(this);" />
          <img id="pantPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
        <div class="well small_box" style="margin-top: 20px;  padding-left: 10px; padding-top: 10px;">
          Link: <br><input required  name="footwearAmazon"></input><br>
          Price: <br><input required  name="footwearPrice"></input><br>
          Description: <br><input required  name="footwearDes"></input><br>
          Image: <br><input required  type="file" name="footwearImage" onchange="readURLFoot(this);" />
          <img id="footPic" src="#" alt="your image" style="margin-top: 10px;"/>
        </div>
      </div>
    </div>
  </form>
</div> -->

<style>
  #flex-container {
    display: flex;
    justify-content: center;
  }
  #flex-container-nested {
    display: flex;
    flex-direction: column;
  }
  .big_box {
    border: 5px solid black;
  }
  .small_box {
    margin-bottom: 20px;
    height: 300px;
    width: 400px;
    border: 5px solid black;
    margin-left: 20px;
  }
  .small_box2 {
    margin-bottom: 20px;
    height: 460px;
    width: 400px;
    border: 5px solid DodgerBlue;
    margin-left: 20px;
  }

* { box-sizing: border-box; }
  .panel-main {
    display: inline !important;
  }
  .left-container {
    border: 2px solid black;
    padding: 0px;
  }
  .right-container {
    border: 2px solid black
  }
  .image-container {
    height: 550px;
    width: 600px;
    background-color: #f8f8f8;
  }

  #bigPic {
    max-width: 600px;
    max-height: 550px;
  }

  .boxes-container {
    /* justify-content: center;
    align-items: center; */
  }
  .boxesCR {
      display: block;
      border: solid green 2px;
      background-color: #F8F8F8;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
</style>

<script>

  $(document).ready(function(){
    $('.panel-main').width(window.innerWidth)
    $('.panel-main').height(window.innerHeight)
    $('.box-body').height(window.innerHeight)
    $('.left-container').height(window.innerHeight)
    $('.right-container').height(window.innerHeight)
    //$('.image-container').height(600)
    // $('.container').attr('padding', 0)

  })
  $('#submitter').on('click',function mySubmitFunction(e) {
    console.log(e)
    e.preventDefault()
    console.log('hello')
    var headwearAmazon = $('#headwearAmazon').val()
    var headwearDes = $('#headwearDes').val()
    var headwearPrice = $('#headwearPrice').val()
    var topAmazon = $('#topAmazon').val()
    var topDes = $('#topDes').val()
    var topPrice = $('#topPrice').val()
    var pantsAmazon = $('#pantsAmazon').val()
    var pantsDes = $('#pantsDes').val()
    var pantsPrice = $('pantsPrice').val()
    var footwearAmazon = $('#footwearAmazon').val()
    var footwearDes = $('#footwearDes').val()
    var footwearPrice = $('footwearPrice').val()
    var top =$("#topPic").attr('src')
    var head = $('#headPic').attr('src')
    var pant = $("#pantPic").attr('src')
    var foot = $("#footPic").attr('src')
    var big = $("#bigPic").attr('src')

    $.ajax({
      url:'/newpost',
      method:'POST',
      data:{
        headwearAmazon:headwearAmazon,
        headwearDes:headwearDes,
        headwearPrice:headwearPrice,
        headImage:head,
        topAmazon:topAmazon,
        topDes:topDes,
        topPrice:topPrice,
        topImage:top,
        pantsAmazon:pantsAmazon,
        pantsDes:pantsDes,
        pantsPrice:pantsPrice,
        pantImage:pant,
        footwearAmazon:footwearAmazon,
        footwearDes:footwearDes,
        footwearPrice:footwearPrice,
        footwearImage:foot,
        image:big
      },success:function(obj){
        console.log(obj)
        console.log('hello')
      },error:function(cool){
        console.log(cool)
        console.log('err')
      }
    })

    $('#plswork').submit()
    // $.ajax({
    //   url: "https://api.imgur.com/3/image",
    //   type: "POST",
    //   datatype: "json",
    //   headers: {
    //     "Authorization": "Client-ID 773559d7e6b4634"
    //   },
    //   data: {
    //     image:hello
    //   },
    //   success: function(response) {
    //     //console.log(response);
    //     console.log(response)
    //     console.log(response.data.link)
    //   },
    //   error:function(Err){
    //     console.log(Err)
    //   },
    //   cache: false,
    //   contentType: false,
    //   processData: false
    // });
  })
  function readURLHead(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('#headPic')
            .attr('src', e.target.result)
            .width(200)
            .height(183.333333333333333333333333333333);
          console.log(e.target);
          $("#headPic").closest('.small_box').toggleClass('small_box small_box2');
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function readURLTop(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('#topPic')
              .attr('src', e.target.result)
              .width(200)
              .height(183.333333333333333333333333333333);
          $("#topPic").closest('.small_box').toggleClass('small_box small_box2');
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
      function readURLPant(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pantPic')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(183.333333333333333333333333333333);
                        $("#pantPic").closest('.small_box').toggleClass('small_box small_box2');
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
      function readURLFoot(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#footPic')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(183.333333333333333333333333333333);
                        $("#footPic").closest('.small_box').toggleClass('small_box small_box2');
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
      function readURLBig(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                      $('#bigPic')
                          .attr('src', e.target.result)
                          .width(600)
                          .height(550);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
                $('#bigPic').removeClass('hidden')
            }
</script>

<!-- <div class="panel-main panel-default">
  <div class="panel-heading">
    <center><h4>New Post</h4></center>
  </div>
  <div class="panel-body">
    <div class="box box-info">
      <div class="box-body">
        <div class="left-container col-sm-6">

          <form method="POST" action="/newpost">
          <div class="image-container col-md-12">
            <div align="hahaha center">
              <div class="yesyesyes">
                <input required  id="post-image-upload" style = "cursor: pointer; opacity: 0; border: solid DodgerBlue 5px; border-radius: 3px; background: grey; position: absolute; left: 0px; width: 100%; top: 0px; height: 100%;" onchange="readURLBig(this);" name="avatar" type="file">
                <img id="bigPic" class='hidden' src="#" />
              </div>
            </div>
          </div>
        </div>
        <div class="right-container col-sm-6">
          <div class="boxes-container col-md-offset-2 col-md-6 row">
             <div class="col-md-12 boxesCR" style="border: solid DodgerBlue 5px;">
                 Link: <input required  name="headwearAmazon"></input><br>
                 Price: <input required  name="headwearPrice"></input><br>
                 Description: <input required  name="headwearDes"></input><br>
                 Image: <input required  type="file" name="headImage" onchange="readURLHead(this);" />
                 <img id="headPic" src="#" alt="your image" style="font-size: 10px;"/>
             </div>
             <div class="col-md-12 boxesCR" style="border: solid DodgerBlue 5px;">
                 Link: <input required  name="topAmazon"></input><br>
                 Price: <input required  name="topPrice"></input><br>
                 Description: <input required  name="topDes"></input><br>
                 Image: <input required  type="file" name="topImage" onchange="readURLTop(this);" />
                 <img id="topPic" src="#" alt="your image" />
             </div>
             <div class="col-md-12 boxesCR" style="border: solid DodgerBlue 5px;">
                 Link: <input required  name="pantsAmazon"></input><br>
                 Price: <input required  name="pantsPrice"></input><br>
                 Description: <input required  name="pantsDes"></input><br>
                 Image: <input required  type="file" name="pantsImage" onchange="readURLPant(this);" />
                 <img id="pantPic" src="#" alt="your image" />
             </div>
             <div class="col-md-12 boxesCR" style="border: solid DodgerBlue 5px;">
                 Link: <input required  name="footwearAmazon"></input><br>
                 Price: <input required  name="footwearPrice"></input><br>
                 Description: <input required  name="footwearDes"></input><br>
                 Image: <input required  type="file" name="footwearImage" onchange="readURLFoot(this);" />
                 <img id="footPic" src="#" alt="your image" />
             </div>
               <input required  type='submit' class="btn btn-primary" value='Submit'>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr style="margin: 5px 0 5px 0;">
      </form>
      </div>
    </div>
  </div>
</div>

<style>
  .panel-main {
    display: inline !important;
  }
  .left-container {
    border: 2px solid black;
    padding: 0px;
  }
  .right-container {
    border: 2px solid black
  }
  .image-container {
    border: 2px solid yellow;
    height: 750px;
    background-color: #f8f8f8;

  }

  .boxes-container {
    /* justify-content: center;
    align-items: center; */
  }
  .boxesCR {
      display: block;
      border: solid green 2px;
      background-color: #F8F8F8;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
</style>

<script>
  $(document).ready(function(){
    $('.panel-main').width(window.innerWidth)
    $('.panel-main').height(window.innerHeight)
    $('.box-body').height(window.innerHeight)
    $('.left-container').height(window.innerHeight)
    $('.right-container').height(window.innerHeight)
    //$('.image-container').height(600)
    // $('.container').attr('padding', 0)

  })
  function readURLHead(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('#headPic')
            .attr('src', e.target.result)
            .width(150)
            .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function readURLTop(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('#topPic')
              .attr('src', e.target.result)
              .width(150)
              .height(200);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
      function readURLPant(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pantPic')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
      function readURLFoot(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#footPic')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
      function readURLBig(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        $('#bigPic').attr('src', e.target.result)
                        var height = $('#bigPic').attr('height')
                        var width = $('#bigPic').attr('width')
                        if(height/width>$('.yesyesyes').attr('height')/$('.yesyesyes').attr('width')){
                          var ratio = $('.yesyesyes').attr('width')/width;
                          $('#bigPic').attr('height',ratio*height)
                          $('#bigPic').attr('width',ratio*width)
                        }else{
                          var ratio = $('.yesyesyes').attr('height')/height;
                          $('#bigPic').attr('height',ratio*height)
                          $('#bigPic').attr('width',ratio*width)
                        }
                    };

                    reader.readAsDataURL(input.files[0]);
                }
                $('#bigPic').removeClass('hidden')
            }
</script> -->
