
<div class="container-newPost">
  <div class="row">
    <div class="image-container col-md-6">
      <div class="imageSizing">
          <div align="center">
            <img alt="User Pic" src="/images/{{user.profilePic}}"  class="img-responsive">
            <form method="POST" action='/newpost' enctype="multipart/form-data">
              <input id="profile-image-upload" onchange="submitFile()" name="post" class="hidden" type="file">
            </form>
            <div style="color:#999;" >click here to change profile image</div>
          </div>
      </div>
    </div>
    <div class="boxes-container col-md-6 row">
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
    </div>
  </div>
</div>
