
<!-- <div class="container-newPost">
  <div class="row">
    <div class="image-container col-md-6">
      <div class="imageSizing">
          <div align="center">
            <img src="/images/{{user.profilePic}}" class="img-responsive">
            <form method="POST" action='/newpost' enctype="multipart/form-data">
              <input id="profile-image-upload" onchange="submitFile()" name="post" class="hidden" type="file">
            </form>
            <div style="color:#999;" >click here to change profile image</div>
          </div>
      </div>
    </div>
    <div class="boxes-container col-md-6 row">
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
       <div class="col-md-6 boxesCR">
           Link: <input ></input><br>
           Price: <input></input><br>
           Description: <input></input><br>
       </div>
    </div>
    <form method="post" action="/newpost">
      <button type="submit">Post</button>
    </form>
  </div>
</div> -->
<script>

</script>
<div class="panel-main panel-default">
  <div class="panel-heading"><center><h4>New Post</h4></center></div>
  <div class="panel-body">
    <div class="box box-info">
      <div class="box-body">
        <div class="left-container col-sm-6">
          <form method="POST" action='/profilepic' enctype="multipart/form-data">
          <div class="image-container col-md-12">
<<<<<<< HEAD
            <div align="hahaha center">
              <form method="POST" action='/lookpic' enctype="multipart/form-data">

              <div class="yesyesyes" style="color:#999;">
                <input id="post-image-upload" style = 'opacity: 0;
    border: none;
    border-radius: 3px;
    background: grey;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;' onchange="readURLBig(this);" name="avatar" type="file">
                <img id="bigPic" class='hidden' src="#" />
              </div>
=======
            <div align="newpictext center">
                <input id="look-image-upload" onchange="submitFile()" name="avatar" class="hidden" type="file">
                <div style="color:#999;" >Click here to upload a new look!</div>
>>>>>>> 2df1f4ba2e54a6a188c6600f200e52ccbd03b7dd
            </div>
          </div>
          </form>
        </div>
        <div class="right-container col-sm-6">
          <div class="boxes-container col-md-offset-2 col-md-6 row">
             <div class="col-md-12 boxesCR">
                 Link: <input ></input><br>
                 Price: <input></input><br>
                 Description: <input></input><br>
                 Image: <input type='file' onchange="readURLHead(this);" />
    <img id="headPic" src="#" alt="your image" />
             </div>
             <div class="col-md-12 boxesCR">
                 Link: <input ></input><br>
                 Price: <input></input><br>
                 Description: <input></input><br>
                 Image: <input type='file' onchange="readURLTop(this);" /><img id="topPic" src="#" alt="your image" />
             </div>
             <div class="col-md-12 boxesCR">
                 Link: <input ></input><br>
                 Price: <input></input><br>
                 Description: <input></input><br>
                 Image: <input type='file' onchange="readURLPant(this);" /><img id="pantPic" src="#" alt="your image" />
             </div>
             <div class="col-md-12 boxesCR">
                 Link: <input ></input><br>
                 Price: <input></input><br>
                 Description: <input></input><br>
                 Image: <input type='file' onchange="readURLFoot(this);" /><img id="footPic" src="#" alt="your image" />
             </div>
             <input type='submit' value="submit">
          </div>
        </div>
        <div class="clearfix"></div>
        <hr style="margin: 5px 0 5px 0;">
      </form>
      </div>
    </div>
  </div>
  </div>

<style>
  .panel-main {
    display: inline !important;
  }
  .left-container {
    border: 2px solid black;
    padding: 0px;
  }
  .right-container {
    border: 2px solid black
  }
  .image-container {
    border: 2px solid yellow;
    height: 750px;
    background-color: #f8f8f8;

  }
<<<<<<< HEAD
  .yesyesyes {
    color: red;
=======
  .newpictext {
    margin-top: 20px;
>>>>>>> 2df1f4ba2e54a6a188c6600f200e52ccbd03b7dd
    padding-top: 20px
  }
  .boxes-container {
    /* justify-content: center;
    align-items: center; */
  }
  .boxesCR {
    display: block;
    border: solid green 2px;
    background-color: #F8F8F8;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style>
<script>
  $(document).ready(function(){
    $('.panel-main').width(window.innerWidth)
    $('.panel-main').height(window.innerHeight)
    $('.box-body').height(window.innerHeight)
    $('.left-container').height(window.innerHeight)
    $('.right-container').height(window.innerHeight)
    //$('.image-container').height(600)
    // $('.container').attr('padding', 0)

  })
  function readURLHead(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#headPic')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
  function readURLTop(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#topPic')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
      function readURLPant(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pantPic')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
      function readURLFoot(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#footPic')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
      function readURLBig(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        $('#bigPic').attr('src', e.target.result)
                        var height = $('#bigPic').attr('height')
                        var width = $('#bigPic').attr('width')
                        if(height/width>$('.yesyesyes').attr('height')/$('.yesyesyes').attr('width')){
                          var ratio = $('.yesyesyes').attr('width')/width;
                          $('#bigPic').attr('height',ratio*height)
                          $('#bigPic').attr('width',ratio*width)
                        }else{
                          var ratio = $('.yesyesyes').attr('height')/height;
                          $('#bigPic').attr('height',ratio*height)
                          $('#bigPic').attr('width',ratio*width)
                        }
                    };

                    reader.readAsDataURL(input.files[0]);
                }
                $('#bigPic').removeClass('hidden')
            }
</script>
