<!-- Body -->
<body>
  <div class="origin-container">
    <div class="profile-container">
      <div class="user-information-container">
        <img class="profile-pic" src="" alt="">
        <p class="display-name">{}</p>
        <p class="display-age"></p>
        <p class="display-bio"></p>
      </div>
      <div class="profile-information-container">
        <div class="looks-container">
          <p class="looks-display">Looks</p>
          <p class="looks-number"></p>
        </div>
        <div class="followers-container">
          <p class="followers-display">Looks</p>
          <p class="followers-number"></p>
        </div>
        <div class="following-container">
          <p class="following-display">Looks</p>
          <p class="following-number"></p>
        </div>
      </div>

    </div>
    <div class="picture-container">

    </div>
  </div>
</body>
