<!-- Body -->
<!-- <body>
  <div class="origin-container">
    <div class="profile-container">
      <div class="user-information-container">
        <img class="profile-pic" src="" alt="">
        <p class="display-name">{{user.username}}</p>
        <p class="display-age"></p>
        <p class="display-bio"></p>
      </div>
      {{#if user.looks}}
      <div class="profile-information-container">
        <div class="looks-container">
          <p class="looks-display">{{user.looks.length}} looks</p>
          <p class="looks-number"></p>
        </div>
        {{/if}}
        {{#if user.followers}}
        <div class="followers-container">
          <p class="followers-display">{{user.followers.length}} Followers</p>
          <p class="followers-number"></p>
        </div>
        {{/if}}
        {{#if user.following}}
        <div class="following-container">
          <p class="following-display">{{user.following.length}} Following</p>
          <p class="following-number"></p>
        </div>
        {{/if}}
      </div>
      <a href='/addPost' style="btn btn-danger">

    </div>
    <div class="picture-container">

    </div>
  </div>
</body> -->

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<!--- Include the above in your HEAD tag ---------->
<div class="container">
	<div class="row">
		<h2>Your Profile</h2>
    <div class="col-md-7 ">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>User Profile</h4></div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <div class="col-sm-6">
                <div align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                  <input id="profile-image-upload" class="hidden" type="file">
                  <div style="color:#999;" >click here to change profile image</div>
                    <!--Upload Image Js And Css-->
                </div>
                <br>
              <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <h4 style="color:#00b1b1;">Username </h4>
                  <span><p>Aspirant</p></span>
              </div>
              <div class="clearfix"></div>
              <hr style="margin: 5px 0 5px 0;">


              <div class="col-sm-5 col-xs-6 tital " >Name:</div><div class="col-sm-7 col-xs-6 ">Ronil</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >Description:</div><div class="col-sm-7"> Awalegaonkar</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >Followers:</div><div class="col-sm-7"> 0</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >Following:</div><div class="col-sm-7"> 0</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

            <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $('#profile-image1').on('click', function() {
            $('#profile-image-upload').click();
        });
      });
    </script>
  </div>
</div>
