<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Modia</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Feed</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Wardrobe</a></li>
      <li><a href="#">Cart</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Call TA</button>
  </div>
</nav>
