/* YOUR STYLES HERE */
/* html {
  min-height: 100%;
}
body {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sent {
  text-align: left;
  color: #00B7FF;
}

.row {
  margin: 20px 0 !important;
}

.center {
  text-align: center;
}

.oauth-buttons {
  margin: 10px 0;
}

.backgroundGradient {
  background: #FAFAFA;
  /* background: linear-gradient(to bottom, #4776e6, #8e54e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
/* } */ */



body {
  background-color: #FAFAFA;
  color: #DCDCDC;
  font-family: Open Sans;
}

.login-box {
  margin-top: 100px;
  text-align: center;
  width: 430px;
  height: 300px;
  background-color: white;
  padding: 60px;
}

.spacing {
  margin-top: 20px;
}

.login-box2 {
  margin-top: 100px;
  text-align: center;
  width: 430px;
  height: 120px;
  background-color: white;
  padding: 60px;
  margin-top: 0px;
}

.login-box3 {
  margin-top: 100px;
  text-align: center;
  width: 430px;
  height: 460px;
  background-color: white;
  padding: 60px;
}

.logo {
  height: 70px;
  margin-bottom: 30px;
}
.form-control {
  margin-bottom: 20px;
}
.btn1 {
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: DodgerBlue !important;
}

.btn2 {
  width: 200px;
  font-size: 16px;
  border-radius: 10px;
}

.btn3 {
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  background-color: DodgerBlue;
}

.well2 {
  text-align: center;
  width: 400px;
  height: 50px;
  padding: 60px;
}

input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 2px
  solid #03b1ce ;
}

.tital {
  font-size: 20px;
  font-weight: 500;
}

.bot-border {
  border-bottom: 1px #f8f8f8 solid;
  margin: 5px 0  5px 0
}

.glyphicon.glyphicon-cog {
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  /* width: 100%;
  height: 100%; */
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.boxesCl {
  background-color: #aaa;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 20px;
}

.imageSizeing {
  width: 100px;
  height: 100px;
}

/* New Post CSS */
.container-newPost {
  padding: 20px;
  border: solid black 2px;
  border-radius: 8px;
}

.boxes-container {
  

}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
